<!doctype html>
<html lang=en>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset=utf-8>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.1.0/math.js" integrity="sha512-I3BR04+2bI75SNyY+c6cJWCUuseVbX1Zn952KS2Lw6+VKuZSA4tXkX5Py+T8N2I9SMT2+iQkE6eSISbhNxBMmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  <script src="https://unpkg.com/json5@2/dist/index.min.js"></script>
  </head>

<body>
  <div id="app">
    <div id="top-bar" class="w3-bar w3-theme">
      <a href="/projects/" class="w3-bar-item pointer"><i class="fa-solid fa-house-chimney"></i></a>
      <span class="w3-bar-item w3-mobile">Synthesis of material in a gas chamber - 1</span>
      <div href="#" class="w3-bar-item w3-right pointer w3-hover-text-black" @click="startStop" :title="status.process.isRunning?'Stop process':'Start process'"><i class="fa-fw fa-solid" :class="status.process.isRunning?'fa-stop':'fa-play'"></i></div>
      <input type="text" class="w3-bar-item w3-input w3-border w3-border-theme w3-right w3-right-align" style="width: 225px;" placeholder="Output interval" v-model="samplingTime">
    </div>
    <div id="main-content" class="w3-row">
      <div id="inputs" class="w3-col s6">
        <div id="communications" class="w3-margin w3-card w3-round-large">
          <div class=" w3-bar pointer w3-border-bottom w3-round-large"
            @click="status.comm.expand = !status.comm.expand">
            <div class="w3-bar-item"><span><i class="fa-fw fa-solid"
                  :class="status.comm.expand ?'fa-angle-down':'fa-angle-right' "></i>&nbsp;&nbsp;&nbsp;</span><span><b>{{status.comm.text}}</b></span>
            </div>
          </div>
          <div v-if="status.comm.expand">
            <div class="w3-row-padding">
              <div class="w3-col s6">
                <label>PCB's port</label>
                <select class="w3-select w3-border w3-border-theme w3-round-large" v-model="ports.serial.selected"
                  :title="(!!ports.serial.selected)?'Selected: '+ ports.serial.selected:'Select a serial port'" :disabled="status.process.isRunning">
                  <option value="" disabled selected>Select a port</option>
                  <template v-for="(item, idx) in ports.serial.list">
                    <option :value="item.port" :title="item.description">{{item.port}} - {{item.description}}</option>
                  </template>
                </select>
              </div>
              <div class="w3-col s6">
                <label>Keithley 2450's port</label>
                <select class="w3-select w3-border w3-border-theme w3-round-large" v-model="ports.visa.selected"
                  :title="(!!ports.visa.selected)?'Selected: '+ ports.serial.selected:'Select a visa resource'" :disabled="status.process.isRunning">
                  <option value="" disabled selected>Select a port</option>
                  <template v-for="(item, idx) in ports.visa.list">
                    <option :value="item.port" :title="item.description">{{item.description}}</option>
                  </template>
                </select>
              </div>
            </div>
            <div class="w3-padding">
              <div class="w3-button w3-block w3-border w3-border-theme w3-round-large" @click="requestPortsList"><i
                  class="fa-solid fa-rotate-right"></i> Refresh ports</div>
            </div>
          </div>
        </div>
        <div class="w3-card w3-round-large w3-margin">
          <br />
          <div class="w3-row-padding w3-padding-top">
            <div class="w3-col s6">
              <label>Set voltage: {{setValues.voltage}} V</label>
              <input class="w3-input w3-border w3-border-theme w3-round-large w3-right-align" type="number"
                placeholder="Set voltage" v-model="setValues.voltage">
            </div>
            <div class="w3-col s6">
              <label>Set temperature: {{setValues.temperature}} °C</label>
              <input class="w3-input w3-border w3-border-theme w3-round-large w3-right-align" type="number"
                placeholder="Set temperature" v-model="setValues.temperature">
            </div>
          </div>
          <hr/>
          <p class="w3-center">Cycle time: {{relayTime}}s [{{relayTime>0?'Good':'Bad'}}]</p>
          <div class="w3-row-padding w3-padding-top">
            <template v-for="(item, idx) in relays">
              <div class="w3-col s3">
                <div class="w3-center">Relay {{idx+1}}</div>
                <div class="w3-center">Time: {{getRelayTime(idx)}}s</div>
                <table class="">
                  <tr v-show="!status.process.isRunning">
                    <td></td>
                    <td>
                      <div class="w3-center" style="font-size: 10px;">
                        <span @click="relays[idx].push(1)" class="fa-stack fa-lg pointer">
                          <i class="fa-regular fa-circle fa-stack-2x"></i>
                          <i class="fa-solid fa-plus fa-stack-1x"></i>
                        </span>
                        &nbsp;&nbsp;
                        <span @click="removeRelayTime(idx)" class="fa-stack fa-lg pointer">
                          <i class="fa-regular fa-circle fa-stack-2x"></i>
                          <i class="fa-solid fa-minus fa-stack-1x"></i>
                        </span>    
                      </div>
                    </td>
                  </tr>
                  <template v-for="(item1, idx1) in item">
                    <tr>
                      <td>
                        {{idx1%2==0 ? "OFF" : "ON"}}
                      </td>
                      <td>
                        <input class="w3-input w3-border w3-round-large w3-border-theme w3-right-align" type="number" v-model="relays[idx][idx1]" min="1" :disabled="status.process.isRunning">
                      </td>
                    </tr>
                  </template>
                </table>
              </div>
            </template>
          </div>
          <br />
        </div>

      </div>
      <div id="results" class="w3-col s6 full-heigh">
        <div class="w3-card w3-round-large w3-margin full-heigh-card">
          <div id="chartdiv" class="w3-margin chartdiv"></div>
          <div class="w3-row-padding">
            <div class="w3-col s3">
              <div class="w3-btn w3-block w3-border w3-border-theme w3-round-large">Temerature</div>
            </div>
            <div class="w3-col s3">
              <div class="w3-btn w3-block w3-border w3-border-theme w3-round-large">Resist/Temp</div>
            </div>
            <div class="w3-col s3">
              <div class="w3-btn w3-block w3-border w3-border-theme w3-round-large">Resist/Valves</div>
            </div>
            <div class="w3-col s3">
              <div class="w3-btn w3-block w3-border w3-border-theme w3-round-large">Valves</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="status-bar" class="w3-bar w3-theme status-bar">
      <div style="width: 200px" class="w3-bar-item w3-mobile w3-right">Output interval: {{samplingTimeInSec[0]}}s</div>
      <div style="width: 030px" class="w3-bar-item w3-mobile w3-right"> | </div>
      <div style="width: 200px" class="w3-bar-item w3-mobile w3-right">Sampling time: {{samplingTimeInSec[1]}}s</div>
      <div style="width: 030px" class="w3-bar-item w3-mobile w3-right"> | </div>
      <div style="width: 200px" class="w3-bar-item w3-mobile w3-right">PCB: <i :class="status.serial.icon"></i>
        {{status.serial.text}}</div>
      <div style="width: 030px" class="w3-bar-item w3-mobile w3-right"> | </div>
      <div style="width: 250px" class="w3-bar-item w3-mobile w3-right">Keithley 2450: <i :class="status.visa.icon"></i>
        {{status.visa.text}}</div>
      <div style="width: 030px" class="w3-bar-item w3-mobile w3-right"> | </div>
      <div style="width: 30px" class="w3-bar-item w3-mobile w3-right"><a
          href="https://github.com/skgadi/da/raw/main/bin/main.exe"><i class="fa-fw fa-solid fa-download"></i></a></div>
      <div style="width: 30px" class="w3-bar-item w3-mobile w3-right"><a href="https://github.com/skgadi/da/"><i
            class="fa-fw fa-solid fa-code"></i></a></div>
      <div style="width: 250px" class="w3-bar-item w3-mobile w3-right">Desktop agent: <i :class="status.da.icon"></i>
        {{status.da.text}}</div>

    </div>
  </div>
  <script src="/projects/2022-uanl/script.min.js"></script>
</body>

</html>