#app {
  width: 912px;
  margin: 16px auto;
  height: 500px;
}

.wind-item-0,
.wind-item-1 {
  width: 100%;
  height: calc(100% - 46px);
  overflow: hidden;
}

.wind-item-1 {
  overflow: auto;
}

.wind-selection {
  height: 46px;
  overflow: hidden;
}


.wind-item-0>.inputs {
  width: 100%;
  height: 42px;
  overflow: hidden;
}

.wind-item-0>.code {
  width: 100%;
  height: calc(100% - 42px);
  overflow: hidden;
}

.wind-item-0>.code>.code-half {
  height: 100%;
  overflow: hidden;
}

.wind-item-0>.code>.code-half>code-half-head {
  height: 25px;
  overflow: hidden;
}

.wind-item-0>.code>.code-half>pre {
  height: calc(100% - 25px);
  overflow: auto;
}

pre {
  padding: 5px;
  margin: 0px;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}